# The officially supported versions of the following packages are their
# python3-* equivalent distributed in Ubuntu 22.04 and Debian 11
Babel==2.9.1      
Babel==2.10.3      
chardet==4.0.0      
chardet==5.2.0      
cryptography==3.4.8     
cryptography==42.0.8      
decorator==4.4.2       
decorator==5.1.1       
docutils==0.17      
docutils==0.20.1      
ebaysdk==2.1.5
freezegun==1.1.0      
freezegun==1.2.1      
geoip2==2.9.0
gevent==21.8.0      
gevent==22.10.2     
gevent==24.2.1      
greenlet==1.1.2      
greenlet==2.0.2      
greenlet==3.0.3      
idna==2.10      
idna==3.6      
Jinja2==3.0.3      
Jinja2==3.1.2      
libsass==0.20.1      
libsass==0.22.0      
lxml==4.8.0      
lxml==4.9.3      
lxml==5.2.1     
lxml-html-clean     
MarkupSafe==2.0.1      
MarkupSafe==2.1.2      
MarkupSafe==2.1.5      
num2words==0.5.10      
num2words==0.5.13      
ofxparse==0.21
passlib==1.7.4 # min version = 1.7.2 (Focal with security backports)
Pillow==9.0.1      
Pillow==9.4.0      
Pillow==10.2.0      
polib==1.1.1
psutil==5.9.0      
psutil==5.9.4      
psutil==5.9.8      
psycopg2==2.9.2      
psycopg2==2.9.5      
psycopg2==2.9.9      
pydot==1.4.2
pyopenssl==21.0.0      
pyopenssl==24.1.0      
PyPDF2==1.26.0      
PyPDF2==2.12.1      
pypiwin32      
pyserial==3.5
python-dateutil==2.8.1      
python-dateutil==2.8.2      
python-ldap==3.4.0      
python-ldap==3.4.4      
python-stdnum==1.17      
python-stdnum==1.19      
pytz  # no version pinning to avoid OS perturbations
pyusb==1.2.1
qrcode==7.3.1      
qrcode==7.4.2      
reportlab==3.6.8      
reportlab==3.6.12      
reportlab==4.1.0      
requests==2.25.1      
requests==2.31.0      
rjsmin==1.1.0      
rjsmin==1.2.0      
rl-renderPM==4.0.3      
urllib3==1.26.5      
urllib3==2.0.7       
vobject==0.9.6.1
Werkzeug==2.0.2      
Werkzeug==2.2.2      
Werkzeug==3.0.1      
xlrd==1.2.0      
xlrd==2.0.1      
XlsxWriter==3.0.2      
XlsxWriter==3.1.9      
xlwt==1.3.0
zeep==4.1.0
zeep==4.2.1      
